body{
    background-color: rgb(185, 241, 241);
    font-size: 15px;
}
/* Cabecera*/
#header{
    background-color: rgb(21, 167, 167);
    height: 8em;
    margin-top: -2em;
}

h1, h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(30, 23, 65);
    text-decoration: underline;


}
h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0.1em;
    font-size: 50px;
}
/*Perfil profesional */
.perfil{
    text-align: center;
    
}

.perfil p{
    text-decoration: underline;
    color: rgb(105, 31, 105);
}

/*Experiencia laboral*/
.tabla1, ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    
   
}
th{
    border: 2px dotted rgb(30, 23, 65);
    background-color: rgb(21, 167, 167);
    padding: 0.5em;
}
td{
    border: 2px dotted rgb(30, 23, 65);
    padding: 0.5em;
    color: rgb(105, 31, 105);
}

/*Habilidades y conocimientos */
.perfil ul {
    color: rgb(105,31,105);
}

/*Footer*/
img{
    height: 150px;
   
}
.perfil + #linea{
    height: 10px;
    background-color: rgb(21, 167, 167);
    border: 1px dotted rgb(105,31,105);
    margin-bottom: -0.7px;
}